/* Main header container */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #121213;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  /* Logo styling */
  .app-logo a {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    flex: 1;
    transition: color 0.3s ease;
  }
  
  .app-logo a:hover {
    color: #ff0;
  }
  
  /* Dropdown button styling */
  .app-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .app-dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
  }
  
  .app-dropbtn:hover {
    color: #ff0;
  }
  
  .app-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
  }
  
  .app-dropdown:hover .app-dropdown-content {
    display: block;
  }
  
  .app-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .app-dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Styles for the search functionality */
  .app-search-container {
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: center;
  }
  
  .app-search-input {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: 300px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .app-search-input:focus {
    border-color: #ff0;
  }
  
  .app-search-button {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
  }
  
  .app-search-button:hover {
    color: #ff0;
  }
  
  /* Ensuring the dropdown content has good spacing and aesthetics */
  .app-dropdown-content a {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .app-dropdown-content a:hover {
    background-color: #ddd;
  }
  